@font-face {
	font-family: 'Montserrat'; 
	src: url(Montserrat-Regular.ttf); 
}

body {
    font-family: 'Montserrat' !important;
    color: #404040;
    font-family: 'Montserrat', serif;
    font-size: 100% !important;
    line-height: 1.8em;
}

.search_data, .search_data .form-control, .search_data .form-select{
    font-size:80% !important;
}

footer{
    color:white;
}

ul li{
    list-style: none;
}

main a{
    text-decoration: none !important;
    color: #404040 !important;
}

.btn_create_delete{
    padding: 0 !important;
}


.sidebar ul > li:before {
    content: "-";
    font-size: 15px;
    color:#0dcaf0 ;
    position: absolute;
    margin-left: -1.1em; 
}

.sidebar ul > li{
    font-size: 108% !important;
}

.form-sign-up{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}